server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /home/ubuntu/SpringBoot-Redis-Elastic-Prometheus-Grafana/loki/positions.yaml

clients:
  - url: http://localhost:3100/loki/api/v1/push

scrape_configs:
  - job_name: spring-boot-logs
    static_configs:
      - targets:
          - localhost
        labels:
          job: spring-boot-prometheus
          __path__: /home/ubuntu/SpringBoot-Redis-Elastic-Prometheus-Grafana/logs/spring-boot.log